.App {
  background-color: rgb(126, 214, 214);
  margin: 0px;
  min-height: 100vh;
  padding: 16px;
}

.age {
  color: gray;
  margin: 0px;
}

.button {
  background-color: rgb(126, 214, 214);
  border: none;
  border-radius: 0.375rem;
  cursor: grab;
  min-width: 85%;
  padding: 5px;
}

.buttonText {
  font-size: larger;
}

.card {
  background-color: azure;
  border-radius: 0.2rem;
  box-shadow: 12px 12px 12px black;
  display: flex;
  flex-direction: column;
  margin: 0 35%;
  min-height: 80vh;
  padding: 24px;
  transition: all 0.5s;
  z-index: 10;
}

.header {
  font-size: x-large;
  margin-top: 20px;
  padding: 0;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  color: cornflowerblue;
  font-family: monospace;
  font-size: larger;
  font-weight: 600;
  margin: 0px;
}

.person {
  align-items: center;
  display: flex;
  margin: 10px 10px;
}

.profile-pic {
  border-radius: 999px;
  height: 80px;
  margin: 0px 10px 5px 0px;
  width: 80px;
}

@media screen and (max-width: 980px) {
  .card {
    margin: 0 15%;
  }
}
